/* Base Styles -------------------- */
* {
    margin: 0;
    padding: 0
}

body {
    background: #f0f0f0;
}

.bg-white {
    background: white;
}

//bg color
.bg-black {
    background: black
}

.main-header {
    background: #bb0303;
    height: 65px
}

.container {
    max-width: 1199px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    background: white;
    &.no-bg {
        background: none;
    }
}

.container-page {
    background: white;
}

.logo {
    img {
        width: 215px;
        height: 65px
    }
}

@each $fontSize in $listFontSize {
    .font-#{$fontSize} {
        font-size: #{$fontSize}px !important;
        line-height: #{$fontSize + 3}px !important;
    }
}

.font-semibold {
    font-weight: 600;
}

a {
    color: black;

    &:hover {
        text-decoration: none;
        color: black
    }
}

p {
    margin: 0 !important
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none
    }
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute;
}

.ht-100 {
    height: 100px;
}

.hover-underline {
    li a{
        &:hover {
            text-decoration: underline !important;
        }
    }
}

@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/font-awesome/fontawesome-webfont.eot?v=4.7.0");
    src: url("../fonts/font-awesome/fontawesome-webfont.eot?v=4.7.0#iefix") format("embedded-opentype"),
        url("../fonts/font-awesome/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
        url("../fonts/font-awesome/fontawesome-webfont.woff?v=4.7.0") format("woff"),
        url("../fonts/font-awesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
        url("../fonts/font-awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.menu-line {
    &.line {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: -10px;
            height: 100%;
            width: 15px;
            box-shadow: 2px 0 12px -5px #ffb8ff, 2px 0 8px -5px #ffb8ff;
        }
    }

    box-shadow: 2px 0 12px -5px #ffb8ff,
    2px 0 8px -5px #ffb8ff;
}

.social-icon {
    width: 215px;
    height: 40px;
}

.search {
    width: 600px;

    .btn,
    .form-control {
        border-radius: 0
    }
}

.cart, .user {
    padding: 1.9em;
}

.number-cart {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -7px;
    right: -12px;
    background: black;
}

.al-center-y {
    top: 50%;
    transform: translateY(-50%);
}

.al-center-x {
    left: 50%;
    transform: translateX(-50%);
}

.border-gray {
    &-top {
        border-top: 1px solid #d1d1d1;
    }
    &-bottom {
        border-bottom: 1px solid #d1d1d1;
    }
    &-left {
        border-left: 1px solid #d1d1d1;
    }
    &-right {
        border-right: 1px solid #d1d1d1;
    }
}

.footer-end {
    height: 50px;
    background: black;
}


/*-*/

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:1rem;
}

.navbar .dropdown-menu {
  border:none;
  background-color:#0060c8!important;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
    .navbar {
        height: 100% !important;
    }

  /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
      padding-top:0px;
      padding-bottom:0px;
    }

    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
    // .navbar .nav-item {
    //   padding-right:0.6rem;
    //   padding-left:0.6rem;
    // }

    /* makes the dropdown full width  */
    .navbar .dropdown-menu {
      width:600px;
      left:0;
      right:0;
    /*  height of nav-item  */
      top:61px;
      width: 550px;
      height: 300px;
      background-image: url('../../../assets/img/home/bg-drop-menu.png');
      background-size: auto;
    }

      /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
      display:block!important;
    }


    }
    .navbar  {
        .dropdown-menu {
            position: relative;
            border: 1px solid rgba(0,0,0,.15);
            background-color: #fff !important;
            &:after {
                content: '';
                position: absolute;
                top:-10px;
                left:35px;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid white;
            }
        }
    }

    .nav-link {
        padding-right: 0 !important;
        padding-left: 0 !important;
        color: black !important;
        &.active {
            color: blue !important
        }
    }

    .dropdown-toggle {
        &::after {
            display: none !important;
        }
    }


.main-menu {
    height: 65px !important;
}
.navbar {
    z-index: 9;
}
.menu-border {
    // border-left: 0.5px solid black;
    // border-right: 0.5px solid black;
    box-shadow: 0px -1px 0px 1px rgba(0, 0, 0, 0.13);
}

.list-style-red {
    li {
        position: relative;
        &::before {
          content: "■ ";
          font-size: 10px;
          position: absolute;
          left: -1rem;
          top: 1rem;
          color: red; /* or whatever color you prefer */
        }
    }
}